appdirs==1.4.3
Django==1.11.1
django-appconf==1.0.2
django-autoslug==1.1.0
django-crispy-forms==1.6.1
django-filer==1.2.7
django-imagekit==4.0.1
django-mptt==0.8.7
django-polymorphic==1.0.2
django-thumbs==0.4
olefile==0.44
pilkit==2.0
Pillow==4.1.1
pytz==2017.2
six==1.10.0
sorl-thumbnail==12.3
Unidecode==0.4.20
