{% extends "base.html" %}

{% block title %}
  Detail of your order number : {{ order.id }}
{% endblock %}

{% block content %}
  <h1 class="mb-5">{{ order }}</h1>
  <div class="card">
    <div class="card-header">
      <h3 class="mb-0">products</h3>
    </div>
    <div class="card-block">
      {% for product, item in orderdetailitems %}
        <div class="product">
          <div><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></div>
          <div><img src="{{ product.cover_image.url }}" alt="" style="width: 100px;"></div>
          <div><p>{{ item.price }}</p></div>
        </div>
        <hr>
      {% endfor %}
    </div>
    <div class="card-footer">
      <p class="mb-0">Total price: ${{ order.get_total_cost }}</p>
    </div>
  </div>
{% endblock %}
