{% extends 'base.html' %}

{% block title %}
  Cart detail
{% endblock %}


{% block content %}

  <div class="card mb-3">
    <div class="card-header card-inverse card-primary">
      <h2 class="mb-0">Cart</h2>
    </div>
  </div>

  {% with total_items=cart|length %}
    {% if cart|length > 0 %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
            {% with product=item.product %}
              <tr>
                <td class="col-sm-8 col-md-6">
                  <div class="media">
                    <a class="img-thumbnail pull-left mr-2" href="{{ product.get_absolute_url }}">
                      <img class="media-object" src="{{ product.cover_image.url }}" style="width: 250px;">
                    </a>
                    <div class="media-body">
                      <h4 class="media-heading"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>
                      <h5 class="media-heading"> by <a href="{{ product.get_absolute_url }}">{{ product.brand }}</a></h5>
                      <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                    </div>
                  </div>
                </td>
                <td class="col-sm-1 col-md-1 text-center">
                  <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    {% csrf_token %}
                  </form>
                </td>
                <td class="col-sm-1 col-md-1 text-center">
                  ${{ item.price }}
                </td>
                <td class="col-sm-1 col-md-1 text-center">
                  ${{ item.total_price }}
                </td>
                <td class="col-sm-1 col-md-1">
                  <a class="btn btn-danger"  href="{% url "cart:cart_remove" product.id %}">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            {% endwith %}
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>Subtotal<br>Estimated shipping</h5><h3>Total</h3></td>
            <td><h5><strong>$24.59<br>$6.94</strong></h5><h3>${{ cart.get_total_price }}</h3></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a href="/" class="btn btn-info">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                Continue Shopping
              </a>
            </td>
            <td>
              <a href="{% url "orders:order_create" %}" class="btn btn-success">
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                Checkout
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
    {% else %}
      <div class="text-center">
        <h3 class="mb-5">Cart is empty <i class="fa fa-frown-o" aria-hidden="true"></i></h3>
        <a href="/" class="btn btn-info">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          Go Shopping!
        </a>
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
